* {
  font-family: 'Poppins';
}

.form-control {
  border-radius: 0.7rem;
}

.btn-primary {
  background-color: #7126B5;
  border-radius: 0.7rem;
  border-color: #7126B5;
}

.btn-primary:hover {
  background-color: #7126B5;
}

.text-primary>b {
  color: #7126B5;
}

.btn-outline-primary {
  background-color: #fff;
  border-radius: 0.7rem;
  border-color: #7126B5;
  color: #7126B5;
}

.btn-outline-primary:hover {
  background-color: #7126B5;
}

.login .arrow-login {
  display: none;
}

.info-prd .title {
  display: none;
}

.info-bidder .title {
  display: none;
}

.info-prd .satu {
  margin-top: 5rem;
}

.info-bidder .satu {
  margin-top: 5rem;
}

.bgc {
  background-color: #EEEEEE;
}

.tombol-jual-homepage{
  position:fixed;
  width: 115px;
  height: 52px;
  bottom: 7%;
  right:50%;
  text-align:center;
  background-color: #7126B5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  color: white;
  border-color: #7126B5;
}

.tombol-jual-homepage :hover{
  background-color: #E2D4F0;
  color: #3C3C3C;
  border-color: #E2D4F0;
}

@media (min-device-width : 320px) and (max-device-width : 991px) {
  .login .pict-login {
    display: none;
  }

  .login .arrow-login {
    display: inherit;
  }

  .login .mrl {
    margin-bottom: 2rem;
  }

  .login .input-width-login {
    width: 117%;
  }

  .info-prd .row {
    margin-top: 0rem;
  }

  .info-prd .title {
    display: inherit;
  }

  .info-bidder .row {
    margin-top: 0rem;
  }

  .info-bidder .title {
    display: inherit;
  }

  .bgc {
    background-color: #FFF;
  }

  .modal-dialog-centered {
    display: flex;
    align-items: end;
    min-height: calc(100%);
  }

  .tombol-jual-homepage {
    right: 36%;
  }

}



